.certification {
    display: flex;
    align-items: center;
    color: var(--grey);
}

.certification > img {
    height: 60px;
    width: 60px;
    object-fit: contain;
}

.certification > a {
    margin-left: 8px;
    cursor: pointer;
}

.certification > a:hover {
    transition: all 200ms ease-in;
    text-decoration: underline;
}