@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navy: #2C2264;
  --violet: #5F4F98;
  --green: #00C8A0;
  --grey: #F7EBFF;

  --primary-font: 'Roboto', sans-serif;
  --primary-font-size: 18px;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--grey);
}

html {
  scroll-behavior: smooth;
}